.place__link{
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  cursor: pointer;
  color: white;
  transition: opacity .2s linear;
  opacity: 1;
}
.place__link:hover {
  opacity: .6;
}